@import "@/styles/variables.scss";

.list-item {
	margin-bottom: 15px;

	a {
		display: flex;
		gap: 20px;
		padding: 2px;
		text-decoration: none;
		color: inherit;
		background-color: $main-green-color;
		color: $white-color;
		transition: 0.3s;
	}

	a:hover {
		transform: scale(1.02);
	}
}

.headers {
	display: flex;
	gap: 20px;
	margin-bottom: 10px;
	font-weight: bold;
}

.data {
	min-width: 200px;
	word-wrap: break-word;
}

.list-status {
	display: flex;
	justify-content: space-between;
}

.canceled {
	background-color: $main-red-color !important;
}
