$main-green-color: rgb(0, 105, 60);
$main-black-color: rgb(30, 30, 30);
$main-red-color: rgb(167, 25, 48);
$main-white-color: rgb(255, 255, 255);
$darkgray-color: #1a1a1a;
$lightgray-color: #333333;
$gray-color: #d3d3d3;
$white-color: white;
